<hr class="line">
    <div class="foot">
        <div class="social">
            <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="endtext">
            <h3>Made By :- Anish @2023</h3>
        </div>
    </div>
</body>

</html>