body{
    background-color: #f7f7f7;
    margin: 0;
}




.nav{
    display: flex;
    width: 100%;
    height: 100px;
} 

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgba(255, 9, 9, 0.445);
}

.readmore{
    display: flex;

}

.readmore:hover{
    color: rgba(37, 30, 28, 0.74);
}



h1{
    font-family: "komu-a",Verdana,Arial,sans-serif;

}

h2{
    font-family: "Work Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
}  

h3{
    font-family: "Work Sans",sans-serif;
    font-size: 30px;
    font-weight: 500;

}

.lefttop{
    display: flex;
    width: 60%;  
    margin-left: 10%; 
    height: 125%;
    
}
.title{
    margin-top: 1%;
}

.logo{
    display: flex;
    margin-left: 2%;
    margin-top: 1%;
    
}

.logo img{
    border: 2px solid rgb(255, 181, 181);
    border-radius:    100px;
}




.righttop{
    margin-top: 1%;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    margin-right: 10%;

}




  




.quote{
    display: flex;
    margin-top: 3%;
    height: 300px;
    width:100%;
    flex-direction: column;
    background-image: url(wall.jpg);
    
    
    
}

    

.q1{
    margin-top: 5%;
    margin-left: 11%;
    width: 70%;
    
    color: #f7f7f7;      
}







.contentgrid{
    margin-top: 2%;
    justify-content: center;
    width: 100%;
    display: grid;
    
    grid-template-columns: 70%;
    grid-template-rows: 18% 18% 18% 18% 18% 18%;
    gap: 0%;
    
    
}

.post1{
    height: 10%;
    width: 100%;
}

.a{
    background-color: #cacacacb;
}

.a img{
    width: 100%;

}


.b{
    background-color:#cacacacb ;   
}
.b img{
    width: 100%;
}
.c{
    background-color:#cacacacb ;   
}

.c img{
    width: 100%;
}

.d{
    background-color:#cacacacb ;
}

.d img{
    width: 100%;
}

.e{
    background-color:#cacacacb ;
}

.e img{
    width: 100%;
}

.f{
    background-color:#cacacacb ;
}

.f img{
    width: 100%;
}

.txt{
    margin-left: 2%;
}



@media(max-width: 760px){

    .nav{
        position: fixed;
        top: 0;
        
       
        background-color: black;
        
       
        align-items: center;
    }

    .lefttop{
        height: 100%;
    }


    .righttop{
        flex-direction: column;
        margin-top: 0;
        margin-left: 30%;
    }

    .righttop{
        align-items: end;
        margin-right: 1%;
    }

    .righttop a{
        color: #f7f7f7;
    }



    .righttop h2{
        margin: 0;
    }


    .quote{
        margin-top: 27%;
}

    


}


