<%-include('partials/header');-%>
<div class="subhead">
    <p>ABOUT ME</p>
</div>
<div class="me">
    <div class="mypic"><img src="./images/me.jpg" alt="" class="myphoto"></div>
    <div class="desc">
        <h1>Hi! I'm Anish</h1>
        <h2 class="bio">I am trying to be a Web Developer.</h2>
        <br
        <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eos quidem repudiandae velit
            minima soluta, perspiciatis accusamus laudantium repellendus nihil rerum voluptatibus consequuntur porro
            nisi asperiores id fugit quaerat molestias fuga! Error dolor repellat obcaecati odio distinctio
            doloribus quibusdam, at ab laboriosam dolorem, assumenda quis eos harum modi recusandae laborum!
            Cupiditate officia ducimus repellat, ipsam eos, eligendi natus at commodi consequuntur est adipisci hic
            ab, dignissimos qui dicta magni illum. Totam, adipisci qui! Distinctio eveniet libero sequi tempora
            ipsam nisi!</h3>
        <br>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et modi error in corrupti recusandae quam
            laudantium id inventore commodi quia. Repellat officiis sint laborum, sapiente fugit eveniet ratione
            commodi quas laudantium molestias ullam necessitatibus voluptatum nulla labore facere autem, soluta
            inventore minima quae dicta, architecto perspiciatis earum possimus modi! Praesentium, sunt magnam
            aliquam repellat nobis vitae totam minima? Cum, distinctio?</h3>
    </div>
</div>
<hr style="width: 70%; margin-top:70px; margin-bottom:70px;">

<%-include('partials/footer');-%>
