<%-include('partials/header');-%>
<div class="subhead" id="constart">
    <p>CONTACT</p>
</div>
<div class="contact">
    <div class="left">
        <p class="leftdesc">HAVE I MISSED ANYTHING GOOD LATELY?<br>
            LET ME KNOW</p>
    </div>
    <div class="right">
        <form action="" class="contact-details">
            <div class="one">
                <label for="">First Name</label><br>
                <input type="text" name="fname" id="first-name">
            </div>
            <div class="two">
                <label for="">Last Name</label><br>
                <input type="text" name="lname" id="last-name">
            </div>
            <div class="three">
                <label for="">E-Mail</label><br>
                <input type="text" name="email" id="email">
            </div>
            <div class="four">
                <label for="">Leave us a message </label><br>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>

            </div>
        </form>
    </div>
</div>
<%-include('partials/footer');-%>